<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
    <test name="SearchResultTests">
        <parameter name="baseUrl" value="https://www.example.com" />
        <classes>
            <class name="net.rml.auto.runner.RunCucumberTest" />
        </classes>
    </test>
</suite>